<h1 align="center"><em>Flying Sneakers</em></h1>
<small class="text-muted" align="center">"We hope you enjoy our sneakers and trainers as much as we enjoy offering them to you. Trendy and fashionable sneakers and trainers for casual & sports or athletics uses."</small>
<div class="row">
<%=render @sneakers%>
</div>