<h1> Результати пошуку за "<%=@search%>"</h1>
<h5>Кількість результатів
  <%= @sneakers.count %></h5>
<div class="row">
  <div class="row" id="sneakers">

    <%= render @neakers%>
  </div>
  <% if @count > $PER_PAGE%>
    <%= render "paginations" %>
  <%end%>