<nav class="navbar navbar-light bg-light">
  <form class="container-fluid">
<%=link_to root_path, class:"navbar-brand" do %>
    "Flying sneakers"
    <%end%>
    <%=link_to "Каталог", sneakers_path%>
    <%=form_tag search_path, method: :get, class: "d-flex" do%>
        <%=text_field_tag(
            :search,
            params[:search],
            placeholder: "Search",
            class: "form_control me-2"
        ) %>
        <button class="btn btn-outline-success" type="submit">Search</button>
    <%end%>
    </div>
</nav>

